{% if is_paginated %}
<nav class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6 mt-4 rounded-lg shadow-md" aria-label="Paginación">
    <div class="hidden sm:block">
        <p class="text-sm text-gray-700">
            Mostrando
            <span class="font-medium">{{ page_obj.start_index }}</span>
            a
            <span class="font-medium">{{ page_obj.end_index }}</span>
            de
            <span class="font-medium">{{ paginator.count }}</span>
            resultados
        </p>
    </div>
    <div class="flex flex-1 justify-between sm:justify-end">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
            Anterior
        </a>
        {% else %}
        <span class="relative inline-flex items-center rounded-md bg-gray-100 px-3 py-2 text-sm font-semibold text-gray-400 ring-1 ring-inset ring-gray-300 cursor-not-allowed">
            Anterior
        </span>
        {% endif %}
        
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
            Siguiente
        </a>
        {% else %}
        <span class="relative ml-3 inline-flex items-center rounded-md bg-gray-100 px-3 py-2 text-sm font-semibold text-gray-400 ring-1 ring-inset ring-gray-300 cursor-not-allowed">
            Siguiente
        </span>
        {% endif %}
    </div>
</nav>
{% endif %}